@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');

body {
    font-family: "Roboto";
    font-weight: 400;
}

.footer__title {
    font-family: "Shrikhand";
}

.booking__title,
.menuNav__title,
.menuNav__title,
.menuChoice__title {
    font-family: "Roboto";
    font-weight: 900;
}

// Restaurant : figcaption 
.menuChoice__title-bold {
    font-family: "Roboto";
    font-weight: 700;
}

// Pages Secondaire 
.main__title {
    font-family: "Shrikhand";
    font-weight: 400;
}

.plats__title, .entrées__title, .desserts__title {
    font-family: "Roboto";
    font-weight: 400;
}

.entrées__name {
    font-family: "Roboto";
    font-weight: 700;
}

.entrées__price {
    font-family: "Roboto";
    font-weight: 700;
}

.plats__name {
    font-family: "Roboto";
    font-weight: 700;
}

.plats__price {
    font-family: "Roboto";
    font-weight: 700;
}

.desserts__name {
    font-family: "Roboto";
    font-weight: 700;
}

.desserts__price {
    font-family: "Roboto";
    font-weight: 700;
}

.desserts__description,.plats__description, .entrées__description {
    font-family: "Roboto";
    font-weight: 400;
}

