// Loading Spinner Animation 
@keyframes loader {

        0% {
            z-index: 9999;
            opacity: 1;
        }
        17% {
            z-index: 9999;
            opacity: 1;
        }
        24% {
            z-index: 9999;
            opacity: 1;
        }
        46% {
            z-index: 9999;
            opacity: 1;
        }
        100% {
            z-index: -1;
            opacity: 0;
        }
    }

@keyframes loader__spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader__spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

// Page Secondaire : Icone Rotation scroll

@keyframes rotation {
      
from { 
transform: rotate(0);
}

to {
    transform: rotate(360deg);
} 
}

// Page Secondaire : Apparition des éléments progressivement 


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
