/* Loading Bouton*/

.chargement {
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #9356DC;
    border-radius: 50%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: spin 3s ease-in-out 0.1s forwards;
    -moz-animation: spin 3s ease-in-out 0.1s forwards;
    -o-animation: spin 3s ease-in-out 0.1s forwards;
    animation: spin 3s ease-in-out 0.1s forwards;
    z-index: 3;

}

// Bouton : Page d'acceuil : Header

.booking__button {
    display: inline-block;
    width: 12rem;
    font-weight: 700;
    height: 3rem;
    background: $primary-gradient;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
        @include opacity;
        box-shadow: 3px 3px 10px black;
    }

}



// Boutons : Fonctionnement : Header

.menuNav__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    width: 23rem;
    height: 5rem;
    font-size: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: 0.3s;
}

// Boutons : Page secondaire : Commander 

.commander-Btn {
    display: inline-block;
    font-weight: 700;
    width: 13rem;
    background: $primary-gradient;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3rem;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    cursor: pointer;

    &:hover {
        @include opacity;
        box-shadow: 3px 3px 10px black;
    }

}
