// Bouton : Page d'acceuil : Header

.booking__button {
    display: inline-block;
    width: 33rem;
    height: 5rem;
    background: linear-gradient(354deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%);
    color: white;
    padding: 1rem;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3rem;
    margin-top: 1.5rem;
}

// Boutons : Fonctionnement : Header

.menuNav__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7rem;
    font-weight: 700;
    width: 43rem;
    height: 10rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    border: none;
    position: relative;
}