// Icone : Section Booking
#localisation__icone {
    padding-right: 2rem;
}


// Icones : Fonctionnement 
#menuNav__icone1 {
    padding-right: 2rem;
}
#menuNav__icone2 {
    padding-right: 2rem;
    color: $color-primary;
}

// Icones : Restaurant

#footer__icone-utensils {
    padding-right: 2.8rem;
}

#footer__icone-handshake {
    padding-right: 2rem;
}

// Icones : Restaurant : Coeur
#menuChoice__icone-love {
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    right: 3rem;
}