// Icone : Section Booking
#localisation__icone {
    padding-right: 1rem;
}


// Icones : Fonctionnement 
#menuNav__icone1 {
    padding-right: 2rem;
    font-size: 1rem;
    padding-left: 2rem;
    color: #6E6E6E;
}
#menuNav__icone2 {
    padding-right: 2rem;
    color: $color-primary;
    font-size: 1rem;
    padding-left: 2rem;
}

// Icones : Restaurant

#footer__icone-utensils {
    padding-right: 1.5rem;
}

#footer__icone-handshake {
    padding-right: 1rem;
}

// Icones : Restaurant : Coeur
#menuChoice__icone-love {
    font-size: 1.1rem;
    position: absolute;
    top: 1.6rem;
    right: 3rem;
}

// Icones : Page Secondaire : Coeur 

#arrow__back {
    position: absolute;
    top: 1.8rem;
    left: 2rem;
    text-decoration: none;
    color: black;
}

#main__icone-love {
    font-size: 25px;
    position: absolute;
    top: 2rem;
    right: 1rem;
}