.menuNav {
    padding-top: 2rem;
    margin-bottom: 3rem;
    .menuNav__title {
        display: flex;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .menuNav__Btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menuNav__Btn-number {
        color: white;     
        padding:10px;
        border-radius: 50%;
        background-color: $color-primary;
        border:none;
        position: absolute;
        left: -11px;
    }
}
