footer {    
        padding-top: 1rem;
        padding-bottom: 3rem;
        background-color:#332F2E;
    .footer__title {
        margin-left: 3rem;
        font-weight: 400;
        color: white;
    }
    .footer__Link {
        display: flex;
        margin-left: 3rem;
        text-decoration: none;
        color: white;
    }
    .footer__Contact {
        margin-left: 3rem; 
        text-decoration: none;
        color: white;
    }
}

