footer {
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: #332F2E;

    @include responsive(tablet-up) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__title {
        margin-left: 3rem;
        font-weight: 400;
        color: white;
        font-size: 1.5rem;
        margin: 0;
        padding-left: 3rem;
        padding-bottom: 1rem;

        @include responsive(tablet-up) {
            width: 100%;
            text-align: center;
            padding-bottom: 2rem;
            margin-left: 0;
            padding-left: 0;
        }
    }

    .footer__Link {
        display: flex;
        margin-left: 3rem;
        text-decoration: none;
        color: white;
        font-size: 1rem;
        padding-bottom: 0.5rem;

        @include responsive(tablet-up) {
            margin-left: 0;
        }
        @include responsive(tablet-down) {
            margin: 1rem;
            padding-bottom: 0;
        }
        @include responsive(desktop) {
            padding-bottom: 0;
            margin: 1rem;
        }

    }

    .footer__Contact {
        margin-left: 3rem;
        text-decoration: none;
        color: white;
        font-size: 1rem;

        @include responsive(tablet-up) {
            margin-left: 0;
        }
        @include responsive(tablet-down) {
            margin: 1rem;
        }
        @include responsive(desktop) {
            margin: 1rem;
        }

    }
}

.footer__content {
    @include responsive(tablet-up) {
        flex: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    @include responsive(tablet-down) {
        display: flex;
        padding-bottom: 0;
        flex-direction: row;
        justify-content: center;

    }
    @include responsive(desktop) {
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

// Footer : Page Secondaire

.footer__title {
    margin: 0;
}
