body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0rem 1.5rem 0rem;

    .logo {
        width: 10rem;
        padding-left: 2rem;
    }
}

.container__body-color {
    background-color: $lightgrey;
}

// Section Booking - Page d'accueil 

.localisation {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: $lightgrey;
    padding: 1rem 0rem 1rem 0rem;
    box-shadow: 0rem 0rem 0rem 1px grey;
    @include heading-shadow
}

.booking__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $lightgrey;
    padding: 2.5rem 0rem 4rem 0rem;
}

.booking__title {
    display: flex;
    text-align-last: center;
    margin: 0;
    font-size: 1.5rem;
    width: 15rem;
    @include responsive(tablet-up) {
        width: unset;
    }
}

.booking__p {
    display: flex;
    text-align-last: center;
    margin: 0;
    font-size: 1rem;
    width: 280px;
    padding-top: 1rem;
}

// Header : Page Secondaire

.header__pageSecondaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
}


.logo__title {
    width: 200px;
    margin: 1rem;
}

.page__Secondaire-logo {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    @include responsive(tablet-zoom) {
        height: 20rem;
    }
    @include responsive(tablet-down) {
        height: 20rem;
    }
}

.main__title {
    display: flex;
    font-size: 2rem;
    @include responsive(tablet-zoom) {
        align-self: center;
    }
}

// Logo : Page Secondaire : La note enchantée

.page__lanoteenchantée-logo {
    height: 16rem;
    width: 100%;
    object-fit: cover;
}