// Les 3 Menus : Page Secondaire

.plats__title, .entrées__title, .desserts__title {
    font-size: 1rem;
    text-transform: uppercase;
}

.entrées__name, .plats__name, .desserts__name {
    margin: 0;  
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
}

.desserts__description,.plats__description, .entrées__description {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    transition: 1s;
    @include responsive(tablet-zoom) {
        text-align: start;
    }
}

.entrées__price, .plats__price, .desserts__price {
    margin: 0;
}

.menu__underline {
    position: relative;
    right: 0px;
    top: -5px;
    height: 3px;
    width: 40px;
    background-color: $color-tertiaire;
}

.scroll {
    z-index: 0;
    background-color: $color-tertiaire;
    width: 48px;
    height: 74px;
    align-self: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 1rem 1rem 0;
    &:hover {
        background: $color-tertiaire;
    }
}

.price {
    display: flex;
    position: absolute;
    top: 30px;
    left: 0px;
}

// Page Secondaire : Apparition des éléments progressivement 

.vignets_1 {
    
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
}
.vignets_2 {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
}
.vignets_3 {
    
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
}
.vignets_4 {
    
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
}
.vignets_5 {
    
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari et Chrome */
}
.vignets_6 {
    
    animation: fadein 6s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari et Chrome */
}
.vignets_7 {
    
    animation: fadein 7s;
    -moz-animation: fadein 7s; /* Firefox */
    -webkit-animation: fadein 7s; /* Safari et Chrome */
}

.vignets_8 {
    
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 8s; /* Safari et Chrome */
}

.vignets_9 {
    
    animation: fadein 9s;
    -moz-animation: fadein 9s; /* Firefox */
    -webkit-animation: fadein 9s; /* Safari et Chrome */
}
.vignets_10 {
    
    animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari et Chrome */
}